<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>leboncoin.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>37D7861D29FFFBA5001DAE1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37D7863329FFFBA6001DAE1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37D7863D29FFFBA6001DAE1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
